.home{
    .news{
        padding-top: 6rem;
        background: linear-gradient(180deg, rgba($dark,0) 50%, rgba($dark,1) 100%); 
        &__cont{
            transform: translateX(-5rem);
        }
        &__title{
            text-align: left;
            font-size: 3.2rem;
            font-weight: 700;
            letter-spacing: 0.96px;
        }
        &__body{
            color: rgba(#fff, 0.6);
            font-weight: 300;
        }
    }


    .tournaments{
        &__closest{
            font-weight: 800;
            font-size: 1.8rem;
            padding-left: 1rem;
            display: flex;
            align-items: center;
            opacity: 0.5;
            i{
                margin-right: 1rem;
            }
        }
        &__more{
            color: rgba(#fff, 0.5);
            font-weight: 300;
            margin: auto 0;
            &:hover{
                color: #fff;
            }
        }        

        .mec-event-article{
            position: relative;
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 8px;
                background-color: rgba($secondary, 0.5);
            }
            &:last-of-type::before{
                background-color: rgba($secondary, 1);
            }
        }


        .mec-event-title,
        .mec-start-date-label{
            font-size: 1.8rem;
            font-weight: 900;
        }
    }

    .about{
        position: relative;
        min-height: 80rem;
        z-index: 100;
        background-color: $dark;
        p{
            line-height: 3;
        }
        &__logo{
            max-width: 50rem;
            height: auto;
            width: 100%;
        }

        &::before{
            content: "";
            position: absolute;
            background: url("../img/bg/triangle_red.png");
            background-repeat: no-repeat;
            background-size: contain;
            width: 23rem;
            height: 20rem;
            display: block;
            top:0;
            left: 25%;
            z-index: -1;
            transform: translateX(-200%);
        }
        &::after{
            content: "";
            position: absolute;
            background: url("../img/bg/fancy_r.png");
            background-repeat: no-repeat;
            background-size: cover;
            width: 115rem;
            height: 110rem;
            display: block;
            top:0;
            right: 30%;
            z-index: -1;
            transform: translateY(-10%) translateX(50%);
            @include media-breakpoint-down(lg){
                justify-content: center;
                transform: translateY(-10%) translateX(70%);
            }
        }
    }

}