.nav-link{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.36px;
    text-transform: uppercase;
    color: $navbar-dark-color;
}
.navbar{
    --bs-bg-opacity:0;
    z-index: 1000;
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
}
.navbar-gfx{
    --bs-bg-opacity:0;
    z-index: 1;
    position: absolute;
    top: 0vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(18,24,51,0) 60%, rgba(18,24,51,1) 75%, rgba(18,24,51,1) 100%), url("../img/bg/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 94rem;

    &::before{
        content: "";
        position: absolute;
        background: url("../img/bg/header_l.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 40rem;
        height: 60rem;
        display: block;
        top:0;
        left: 0;
        z-index: -1;
        // transform:translateX(-94%) translateY(-36%) scaleY(-1) rotate(180deg) ; 
    }
    &::after{
        content: "";
        position: absolute;
        background: url("../img/bg/header_r.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 40rem;
        height: 60rem;
        display: block;
        top:0;
        right:0;
        z-index: -1;
        // transform:translateX(-94%) translateY(-36%) scaleY(-1) rotate(180deg) ; 
    }
}
.navbar-nav{
    align-items: center;
}



#footer{
    background-color: $dark;
    // position: relative;
    // z-index: 1000;
}


.footer{
    position: relative;
    z-index: 1000;
    &__text{
        padding: 4rem 0;
        &--a{
            font-size: 6.1rem;
            font-size: 700;
            letter-spacing: 1.83px;
        }
        &--b{
            font-size: 3.2rem;
            font-size: 700;
            letter-spacing: 0.96px;
            line-height: 1.1;
        }
    }
    &__menu{
        border-top: 1px solid $grey;
        padding: 3.5rem 3rem;
    }
    &__logo{
        margin: 6rem 0;
    }
    &::after{
        content: "";
        position: absolute;
        background: url("../img/bg/footer.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 83rem;
        height: 27rem;
        display: block;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}


.nav-socials{
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        margin: 0 1rem;
    }
}


.sponsors{
    &__cont{
    }
    padding-top: 3rem;
    padding-bottom: 3rem;
    &__title{
        font-size:18px;
        font-weight: 800;
        letter-spacing: 0.36px;
        padding-bottom: 3rem;
    }
    &__logos{
        @include media-breakpoint-down(md){
            justify-content: center;
        }
        img{
            max-width: 150px;
            transition: $transition;
            transition-duration: 0.3s;
            &:hover{
                transform-origin: center;
                transform: scale(1.2);
            }
        }
    }
    &__logo{
        display: flex;
        align-items: center;
        padding-right: 2rem;

        @include media-breakpoint-down(md){
            justify-content: center;
            margin-bottom: 1rem;
        }
    }
    &__fixed{
        position: fixed;
        bottom: 0vh;
        z-index: 1500;
        background-color: $dark; 
        width: 100vw;
        padding: 1rem 3rem;
        border-top: 1px solid rgba($secondary, 0.5);
        .sponsors__title{
            padding: 0;
        }
    }
}