html {
    font-size: 62.5%; //1rem = 10px
    // overflow-x: hidden;
    background-color: $dark;
}

body {
font-size: 1.4rem;
overflow-x: hidden;
color: #fff;
// line-height: 1.7;
letter-spacing: 0.28px;
background-color: $dark;
}

h1{
    text-align: left;
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: 0.96px;
}

a{
    transition: color .15s ease-in-out;
}

.primary{
    color: $primary;
}
.secondary{
    color: $secondary;
}
.grey{
    color: $grey;
}

.center-text{
    text-align: center;
}


.btn{
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.8px;
    border-radius: 0;
    display: inline-block;
    color: #fff;
    padding: 1.2rem 3.5rem;
    &:hover,&:focus,&:active{
        color: #fff;
    }
}
.btn-dark{
    background-color: $dark;
    &:hover{
        background-color: $secondary;
    }
}
.btn-secondary{

}

.vlr-btn{
    background-color: #fff;
    color: $dark;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover{
        background-color: $dark;
        color: #fff;
    }
}


.title{
    font-size: 1.8rem;
    color: $primary;
    letter-spacing: 0.36px;
    font-weight: 800;
}


#main{
    z-index: 50;
    position: relative;
}

path{
    transition: $transition;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $transition;
    &:hover{
        path{
            fill: $secondary;
        }
    }
}
.icon-sm{
    height: 2.2rem;
    width: 2.2rem;
}

.icon-fb{
    background-image: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg" width="11.41" height="21.941" viewBox="0 0 11.41 21.941"><g id="Group_231" data-name="Group 231" transform="translate(0)"><path id="Path_33" data-name="Path 33" d="M-897.309,56.535h-4.039c0-.058-.01-.117-.01-.175q0-4.834,0-9.668V46.52h-3.373V42.613h3.373v-.162c0-.942,0-1.885,0-2.827A6.064,6.064,0,0,1-901,37.539a4.221,4.221,0,0,1,2.153-2.42,5.16,5.16,0,0,1,2.285-.525c.853,0,1.705.041,2.558.072.229.008.457.042.683.063v3.514h-.161c-.623,0-1.245-.008-1.868,0a4.408,4.408,0,0,0-.8.079,1.28,1.28,0,0,0-1.082,1.084,4.121,4.121,0,0,0-.064.714c-.008.783,0,1.565,0,2.348v.151h3.855l-.506,3.906H-897.3V46.7q0,4.828,0,9.655C-897.3,56.418-897.305,56.477-897.309,56.535Z" transform="translate(904.731 -34.594)" /></g></svg>');
}
.icon-insta{
    background-image: url("../img/icons/icon_insta.svg");
}
.icon-twitter{
    background-image: url("../img/icons/icon_twitter.svg");
}
.icon-ladder{
    background-image: url("../img/icons/icon_ladder.svg");
    width:3.1rem;
    height: 3.2rem;
}
.icon-finals{
    background-image: url("../img/icons/icon_finals.svg");
    width:3.8rem;
    height: 3.2rem;
}
.icon-trophy{
    background-image: url("../img/icons/icon_trophy.svg");
    width:3.4rem;
    height: 4.2rem;
}
.icon-ranking{
    background-image: url("../img/icons/icon_ranking.svg");
    width: 4rem;
    height: 4rem;
}

.chevron-left {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px
}
.chevron-left::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    left: 6px;
    top: 4px
}

.chevron-right {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px
}
.chevron-right::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    right: 6px;
    top: 4px
}

.background-blur{
    background-color: rgba($color: #fff, $alpha: 0.1);
    backdrop-filter: blur(19px);
}