$dark: #121833;
$primary: #DB1E49;
$secondary: #FB9E27;
$grey: #FFFFFF7F;

$navbar-dark-color: rgba(255,255,255, 1);
$navbar-dark-hover-color: rgba(255,255,255, 0.8);
$navbar-dark-disabled-color: rgba(255,255,255, 0.3);
$navbar-dark-active-color: rgba(255,255,255, 1);